<tr>
    <td style="font-family: sans-serif; font-size: 13px; font-weight: bold; vertical-align: middle; text-align: center; background-color: #F3EDDD; padding: 8px 0; color: #5A443D;">
        For Support contact:
        <a href="" style="text-decoration: none; font-family: sans-serif; font-size: 14px; Margin-top: 0; Margin-bottom: 20px; color: #5A443D; font-weight: 400; line-height: 1.5em;">
            <!-- {process.env.COMPANY_EMAIL} -->
            E-mail : hackerKernel@gmail.com
        </a>
    </td>
</tr>