<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<table class="body" style="border: 0; border-spacing: 0; padding: 0; border-collapse: separate;  -mso-table-lspace: 0pt; -mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
    <tr>
        <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 600px; width: 600px;">
            <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 600px;">
                <!-- START CENTERED WHITE CONTAINER-->
                <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; -mso-hide: all; visibility: hidden; width: 0;">
            This is preheader text. Some clients will show this text as a preview</span>
                <table class="main" style="border-collapse: separate; -mso-table-lspace: 0pt; -mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px; border-spacing: 0;">
                    <!-- START MAIN CONTENT AREA-->
                    <tr>
                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0;background-repeat: no-repeat; background-position: right 40px;">
                            <table style="border: 0; border-spacing: 0; padding: 0; border-collapse: separate; -mso-table-lspace: 0pt; -mso-table-rspace: 0pt; width: 100%;">
                                <tr>
                                    <td style="font-family: sans-serif; color: #5A443D; font-size: 28px; font-weight: bold; vertical-align: middle; text-align: center; background-color: #F3EDDD; padding: 15px 0;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>